body{
    background-image: url(/src/_img/parchment-1148173.jpg);
}

img#livro{
    position: absolute;
    left: 280px;
    top: 120px;
}

img#livro{
    width: 800px;
    height: 400px;
    border-radius: 20px;
}

img#livro:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

img#livro:active{
    transform: scale(0.9);
    transition: all 0.5s;
}